.brush_pointer {
    border-radius: 50%;
    background-color: black;
    position: absolute;
    pointer-events: none;
    // Box-shadow:0px 1px 0px red,0px -1px 0px #f00,1px 0px 0px #f00,-1px 0px 0px #f00;
    border: 1px solid red;

}