.brush-panel {
    position: absolute;
    top: 0;
    left: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.color-block {
    width: 100px;
    .brush__color {
        height: 100%;
    }
    input {
        width: 100px;
        height: 50%;
    }
}

.brush-panel__item {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.brush-size {
    display: flex;
    align-items: center;
}

.brush-setting {
    flex-direction: column;
    justify-content: center;
}