$topPanelBg: rgb(248, 191, 116);
;
//instruments panel
$topPanelInstrumentsBg: rgb(148, 75, 75);
$topPanelInstrumentsItemBg: orange;
$topPanelInstrumentsHoverColor: yellow;
//brush panel
$brushPanelBg: blanchedalmond;
$brushPanelItem: darkred;
$brushPanelItemHover: orange;
//de
$bottomPanelBg: rgb(248, 191, 116);
$leftPanelBg: darkred;
$rightPanelBg: gray;