.top-panel__instruments {
    position: absolute;
    top: 0;
    left: -100px;
    height: 100vh;
    width: 100px;
    background-color: darkred;
    transition: left 0.5s;
    z-index: 999;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.instruments-panel__item {
    margin-top: 10px;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: black;
    cursor: pointer;
}

.istrument-brush__item {
    width: 50px;
    height: 50px;
    font-size: 14px;
    background-image: url("../img/brush-icon.svg");
    background-position: center;
    background-size: cover;
    background-color: darkred;
    &:hover {
        background-color: red;
        position: relative;
        .instruments-panel__brush-panel {
            display: block;
            padding: 20px;
        }
    }
}

.instruments-panel__brush-panel {
    left: 50px;
    position: absolute;
    background-color: red;
    width: 200px;
    height: 200px;
    display: none;
}

.instruments-panel__brush-item {
    margin-top: 10px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}

.instruments-panel__eraser {
    display: block;
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    cursor: pointer;
}