@import "pointers/brushPointer.scss";
@import "brushPanel.scss";
$topPanelBg: gray;
$bottomPanelBg: gray;
$leftPanelBg: darkred;
$rightPanelBg: gray;
.canvas-block {
    width: 100vw;
    height: 75vh;
    position: absolute;
    top: 15vh;
    background-color: lightgray;
}

.canvas {
    outline: 5px solid red;
    outline-offset: -5px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: crosshair;
}

.top-panel {
    background-color: $topPanelBg;
    width: 100vw;
    height: 15vh;
    position: absolute;
    top: 0;
    left: 0;
}

.top-panel__instruments {
    position: absolute;
    top: 0;
    left: -100px;
    height: 100vh;
    width: 100px;
    background-color: $leftPanelBg;
    transition: left 0.5s;
}

.top-panel__instuments-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    width: 50px;
    height: 50px;
    font-size: 14px;
    background-image: url("../img/brush-icon.svg");
    background-position: center;
    background-size: cover;
}

.bottom-panel {
    background-color: $bottomPanelBg;
    width: 100vw;
    height: 10vh;
    position: absolute;
    bottom: 0;
    left: 0;
}