@import "pointers/brushPointer.scss";
@import "brushPanel.scss";
@import "instruments-panel.scss";
@import "./layouPanel/layoutPanel.scss";
@import "ColorTable.scss";
.canvas-block {
    width: 100vw;
    height: 75vh;
    position: absolute;
    top: 15vh;
    background-color: lightgray;
}

.canvas {
    outline: 5px solid red;
    outline-offset: -5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: crosshair;
}

.top-panel {
    background-color: $topPanelBg;
    width: 100vw;
    height: 15vh;
    position: absolute;
    top: 0;
    left: 0;
}

.top-panel__instuments-btn {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    width: 50px;
    height: 50px;
    font-size: 14px;
    background-image: url("../img/brush-icon.svg");
    background-position: center;
    background-size: cover;
}

.top-panel__layout-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.bottom-panel {
    background-color: $bottomPanelBg;
    width: 100vw;
    height: 10vh;
    position: absolute;
    bottom: 0;
    left: 0;
}