$topPanelBg: gray;
$bottomPanelBg: gray;
$leftPanelBg: black;
$rightPanelBg: gray;
.canvas-block {
    width: 100vw;
    height: 75vh;
    position: absolute;
    top: 15vh;
}

.canvas {
    outline: 5px solid red;
    outline-offset: -5px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-panel {
    background-color: $topPanelBg;
    width: 100vw;
    height: 15vh;
    position: absolute;
    top: 0;
    left: 0;
}

.bottom-panel {
    background-color: $bottomPanelBg;
    width: 100vw;
    height: 10vh;
    position: absolute;
    bottom: 0;
    left: 0;
}

.left-panel {
    background-color: $leftPanelBg;
    width: 10vw;
    height: 80vh;
    position: absolute;
    bottom: 10vh;
    left: 0;
}

.right-panel {
    background-color: $leftPanelBg;
    width: 10vw;
    height: 80vh;
    position: absolute;
    bottom: 10vh;
    right: 0;
}